@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

:root {
  --background-color: #152938;
  --text-color: #7191a5;
  --buttons-bg-color: #bcced9;
  --selected-btns-bg-color: #304859;
  --main-btns-bg-color: #fda214;
  --main-btns-hover-bg-color: #ffb84a;
  --btns-hover-bg-color: #6395b8;
  --btns-color: #fcfcfc;
  --primary-bg-color: #fcfcfc;
  --heading-font-size: 2.5rem;
  --large-text-size: 1.5rem;
  --extra-large-text-size: 1.75rem;
  --text-font-size: 1.25rem;
  --section-margin-normal: 2rem;
  --section-margin-large: 2.5rem;
  --section-margin-small: 1rem;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  position: relative;
  min-height: 100dvh;
  width: 100vw;
  font-family: "Atkinson Hyperlegible", sans-serif;
  overflow-x: hidden;
}
.main-menu header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: var(--section-margin-small);
}
/*  removed nav bar stylings:  */
/* .nav-menu-btn {
  color: var(--selected-btns-bg-color);
  font-size: var(--large-text-size);
  padding: 0.3em 0.5em;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
} */
/* .nav-menu-btn:has(+ .main-menu.hidden) {
  display: none;
}
.nav-section {
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-color);
  transform: translate(100%, 0%);
  transition: transform 250ms ease-in;
  display: grid;
  place-items: center;
} */
/* .nav-section span {
  font-size: var(--heading-font-size);
}
.nav-section.nav-open {
  transform: translate(0%);
}
.nav-section .close-nav-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  border: none;
}
.close-nav-btn .close-nav-icon {
  display: block;
  height: 3rem;
  width: 3rem;
  background-color: var(--primary-bg-color);
}
.nav-section.nav-open .close-nav-btn::after {
  transform: translateY(10px);
} */
/* .nav-section .nav-menu-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.main-menu {
  position: absolute;
  overflow-x: hidden;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.main-menu header h1 {
  font-size: var(--heading-font-size);
  color: #fcfcfc;
}

.main-menu .card {
  position: relative;
  width: min(90vw, 700px);
  border-radius: 20px;
  background-color: #fcfcfc;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-margin-small);
  overflow: hidden;
}
.card .tabs-menu {
  display: block;
  width: 90%;
  border-radius: 40px;
  outline: 2px solid var(--buttons-bg-color) ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabs-menu .tab-option {
  font-size: var(--large-text-size);
  color: #7191a5;
  font-weight: 600;
  cursor: pointer;
  padding: 0.35rem 1rem;
  margin-block: 0.25rem;
  border-radius: 20px;
  transition: background-color 300ms ease-in-out;
}
.tab-option[selected] {
  background-color: var(--main-btns-bg-color);
  color: #fff;
}
.card .customize-options {
  height: 95%;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.35rem;
}
.customize-options h3 {
  font-size: var(--text-font-size);
  color: var(--text-color);
}
.customize-options .options {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.25rem;
  transition: opacity 500ms ease-in-out;
}

.customize-options .options span {
  padding: 0.35em 0.5em;
  width: 100%;
  color: var(--btns-color);
  background-color: var(--buttons-bg-color);
  font-size: var(--large-text-size);
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 55px;
  text-align: center;
  transition: background-color 200ms linear;
  cursor: pointer;
}
.customize-options .options span:hover {
  background-color: var(--btns-hover-bg-color);
}
.customize-options .options span[selected] {
  background-color: var(--selected-btns-bg-color);
}
.bot-options.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
.game-mode-options {
  align-items: center;
}
/* .customize-options .game-mode-options span{
  font-size: var(--text-font-size);
  text-wrap: nowrap;
} */

.card .customize-options #start-btn {
  padding: 0.3em;
  color: var(--btns-color);
  background-color: var(--main-btns-bg-color);
  font-size: var(--heading-font-size);
  font-weight: 700;
  border-radius: 55px;
  border: none;
  cursor: pointer;
  transition: all 250ms linear;
}
.card .customize-options #start-btn:hover {
  background-color: var(--main-btns-hover-bg-color);
}
/* Game layout starts here */
.game {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
}
dialog {
  padding: 3rem;
  min-height: 40vh;
  width: min(80vw, 600px);
  position: absolute;
  inset: 0;
  z-index: 10000;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  flex-grow: 1;
  border-radius: 50px;
  outline: none;
  border: none;
}

.result-dialog {
  display: flex;
  justify-content: space-between;
  width: min(90vw, 650px);
  border-radius: 15px;
  outline: 1px solid black;
}
.result-dialog h2 {
  font-size: 3rem;
  text-align: center;
}
.result-dialog p {
  color: var(--text-color);
  font-size: var(--text-font-size);
  font-weight: 700;
  text-align: center;
}
.result-dialog .score {
  background-color: #dfe7ec;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 10px;
}
.result-dialog span {
  color: var(--background-color);
  font-size: var(--heading-font-size);
  font-weight: 700;
}
.result-dialog .btns {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}
.result-dialog .btns > * {
  width: 100%;
}
dialog:not([open]) {
  display: none !important;
}
dialog::backdrop {
  background-color: #152938;
  opacity: 0.7;
}

dialog button {
  width: 100%;
}

.game header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.new-game-btn,
.resume-btn {
  font-weight: 700;
  font-size: var(--large-text-size);
  color: var(--selected-btns-bg-color);
  background-color: #dfe7ec;
  border-radius: 50px;
  border: none;
  padding: 0.5em 1em;
  transition: background-color 250ms linear;
}
.game header #toggle-menu-bar {
  background-color: var(--main-btns-bg-color);
  border: none;
  padding: 0.35em 0.65em;
}
.game header .menu-bar {
  display: flex;
  justify-content: space-evenly;
}

.game header .restart-btn {
  margin-right: 1rem;
}

.game .team-game-info {
  margin-top: var(--section-margin-small);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: min(90%, 600px);
}
.team-game-info div {
  outline: 1px solid #000;
  background-color: #dfe7ec;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 15px;
  flex-basis: min(30%, 200px);
}
.team-game-info p {
  font-size: var(--text-font-size);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
}
.team-game-info .target-score {
  background-color: var(--main-btns-bg-color);
  
}
.team-game-info .target-score > * {
  color: var(--btns-color);
}
.team-game-info span {
  font-weight: 700;
  text-align: center;
  display: block;
  font-size: var(--text-font-size);
}
.new-game-btn:hover,
.resume-btn:hover {
  background-color: var(--btns-hover-bg-color);
  color: var(--btns-color);
}

.restart-btn,
#toggle-menu-bar {
  padding: 0.5em 0.75em;
  color: #fcfcfc;
  font-weight: 700;
  border-radius: 50px;
  font-size: var(--large-text-size);
  background-color: var(--main-btns-bg-color);
  border: none;
  transition: background-color 250ms linear;
}
.restart-btn:hover,
#toggle-menu-bar:hover {
  background-color: var(--main-btns-hover-bg-color) !important;
}
.game .game-board {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: var(--section-margin-normal);
  height: min(70vw, 600px);
  width: min(70vw, 600px);
}
.game-board div {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--heading-font-size);
  color: var(--primary-bg-color);
  background-color: var(--main-btns-bg-color);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  transition: background-color 250ms linear;
}
.game-board div::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  background-color: var(--selected-btns-bg-color);
  z-index: 10;
  scale: 1;
  transition: scale 250ms linear;
}
.game-board div.open::before {
  scale: 0;
}
.game-board div.found-tile {
  background-color: var(--buttons-bg-color);
}
.game-board div:hover::before {
  background-color: #6395b8;
}
.game-board img {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 40%;
  width: 40%;
}
.game-board[data-tiles="36"] {
  grid-template-columns: repeat(6, 1fr);
}
/* user cannot select the tiles when 
   there is bot's move */
.game-board:has(+ .game-info .bot-player.active-player) {
  pointer-events: none;
}
.game-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-block:var(--section-margin-large);
}
.game-info > span {
  padding: 1em 1em;
  width: max(12vw, 200px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dfe7ec;
  border-radius: 10px;
  transition: background-color 750ms normal;
}

.game-info > span p {
  color: var(--text-color);
  font-size: var(--text-font-size);
  font-weight: 700;
}
.game-info > span span {
  font-weight: 700;
  font-size: calc(var(--large-text-size) + 0.25rem);
  color: var(--selected-btns-bg-color);
}
.player.active-player {
  margin: 0;
  position: relative;
  background-color: var(--main-btns-bg-color);
}
.player.active-player::before {
  margin: 0;
  padding: 0;
  content: "";
  height: 13px;
  width: 27px;
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: inherit;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.player.active-player::after {
  margin-block: 1rem;
  content: "Current Turn";
  width: 95%;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.15rem;
  font-size: var(--text-font-size);
  text-align: center;
}
.player.active-player > * {
  color: var(--btns-color);
}
.hidden {
  display: none !important;
}

.players-stats {
  display: block;
  width: 100%;
}
.players-stats div {
  margin-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfe7ec;
  padding: 1rem 0.75rem;
  border-radius: 10px;
}
.players-stats div:first-child {
  background-color: var(--selected-btns-bg-color);
}
.players-stats div:first-child > * {
  color: var(--btns-color);
}
.players-stats span {
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--extra-large-text-size);
}
.players-stats div p {
  text-align: center;
  font-style: var(--extra-large-text-size);
  font-weight: 700;
}

/* Media Queries */
@media (max-width: 560px) {
  :root {
    --heading-font-size: 2rem;
  }

  .card .customize-options {
    width: 90%;
  }
  .customize-options .options {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  .game header {
    margin-top: 1rem;
  }
  .restart-btn,
  .new-game-btn,
  .resume-btn {
    font-size: var(--text-font-size);
  }
  .game .game-board {
    min-height: 250px;
    min-width: 250px;
    height: 95vw;
    width: 95vw;
    gap: 0.5rem;
  }
  /* removing the hover state for the smaller (touch) devices */
  .game-board div:hover::before {
    background-color: var(--selected-btns-bg-color);
  }

  .game-info {
    width: 95%;
  }
  .game-info > span {
    flex-direction: column;
  }
  dialog {
    padding: 3rem 1.5rem;
  }
  .result-dialog h2 {
    margin: 0;
  }
  .result-dialog .score,
  .result-dialog .btns {
    flex-direction: column;
    gap: 1rem;
  }
}
